.sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}
.sidebar img {
    cursor: pointer;
    width: 20px;
}
.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new_chat {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .recent {
    display: block;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: fadeIn 1.5s;
}
.sidebar .recent_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}
.sidebar .bottom {
    display: flex;
    flex-direction: column;
}
.sidebar .bottom_item {
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar p {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: max-width 0.3s ease, opacity 0.3s ease;
}

.sidebar p.show {
    max-width: 200px; /* Adjust as needed */
    opacity: 1;
}
@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
}